/app/config/parameters.yml
/app/Resources/*
!/app/Resources/java/
!/app/Resources/TwigBundle/
!/app/Resources/views/
/bin/
/build/
/var/*
/var/cache/*
!/var/cache
!/var/cache/.gitkeep
/var/logs/*
!/var/logs
!/var/logs/.gitkeep
/var/Files/*
!/var/Files
/var/TempFiles/*
!/var/TempFiles
/var/sessions/*
!/var/sessions
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/assets/
/web/bundles/
/web/css/
/web/fonts/
/web/images/
/web/img/
/web/imgs/
/web/js/
/web/bundles/
/phpunit.xml
/composer.phar
/composer.lock
/.settings/
/.buildpath
/.classpath
/.project
