<html>
	<body>
		<p>
			Bonjour ,<br/>
			<b>Votre Parcours de Formation d’anglais {{ 'now'|date('Y')}}</b> comprend des <span style="color: red">Ateliers Thématiques  d'Anglais d'une journée (7h) en présentiel, à ILC France</span> (13 passage Dauphine 75006 Paris).
		</p>
		<p>
			<b>Nous vous invitons à <span style="color: red; text-decoration: underline;">découvrir vos Ateliers</span>  et à <span style="color: red; text-decoration: underline;">sélectionner vos dates  d'Atelier</span> via notre plateforme de planification en ligne ONLINE BOOKING:</b>
		</p>
		<p>
			<ul>
				<li>Utilisez le lien  : <a href="{{ url }}">orangetools.ilcfrance.com</a></li>
				<li>Entrez votre identifiant et mot passe (ces informations figurent en bas de cet email)</li>
				<li>Le ou les Ateliers pour lesquels vous avez été *pré inscrits s'affichent</li>
				<li>Sélectionnez une session (une date) par Atelier, Valider votre choix</li>
				<li>Un email de confirmation d'inscription vous sera envoyé immédiatement</li>
				<li>Une convocation vous sera envoyée au moins 3 semaines avant la date de la formation</li>
			</ul>
		</p>
		<p>
			<span style="color: red">IMPORTANT: Vous avez 10 jours ouvrés pour vous inscrire (ou modifier si besoin) vos sessions de formations</span>, au-delà de ce délai vous perdez le droit d’accès à l’outil de réservation en ligne.<br/>
			Rappel de vos identifiants:<br/>
			Votre identifiant  est : <b>{{ user.username }}</b><br/>
			Votre mot de passe est : <b>{{ user.clearPassword }}</b><br/>
		</p>
		<p>
			Pour toute question, n'hésitez pas à nous joindre au 01 44 41 80 22.
		</p>
		<p>
			Cordialement,<br/>
			Léa Paolini<br/>
			Direction des Projets et Organisation<br/>
			Tél : 01 44 41 80 22<br/>
			Email : lea.paolini@ilcfrance.com<br/>
		</p>
	</body>
</html>