<html>
<body>
{{'ilcfrance.orangetools.security.register.body.admin'|trans({'%useradminurl%': url('sasedev_admin_super_user_editGet', {'id': user.id} ) ,'%login%':user.username}, "messages")|raw}}<br><br>
</body>
</html>