<html>
<body>
{{'ilcfrance.orangetools.security.register.mail.body'|trans({'%fullname%':user.fullName, '%username%': user.username, '%clearPassword%': user.clearPassword, '%sitename%':sitename, '%url%':url}, "messages")|raw}}
</body>
</html>